


<footer class="footer">
            <div class="container">
               <div class="copy-right">
                  <p>© 2017 Empower Onboarding. All rights reserved.</p>
               </div>
               <div class="term-policy">
                  <ul>
                     <li>
                        <a href="#">Terms and Conditions</a>
                     </li>
                     <li>
                         <a href="https://www.greater.com.au/legal/privacy-policy" target="_blank">Privacy Policy </a>
                     </li>
                  </ul>
               </div>
               <div class="clearfix"></div>
            </div>   
         </footer>