<div class="contact-info" data-aos="fade-up">
    <div class="account-content">
        <h2>Do you have your driver's licence with you ?</h2>
        <button type="submit" 
        (click)="setDocumentCheck(true)" 
        class="btn btn-default button button1" 
        id="btnYes">
                Yes
        </button>
        <button type="submit"
         (click)="setDocumentCheck(false)" 
         class="col-md-offset-1 col-sm-offset-1 btn btn-default button button1" 
         id="btnNo">
         No
         </button>
    </div>
</div>